<h2>{{heroes.nombre | uppercase}}<small> ({{heroes.aparicion | date:'y'}})</small></h2>
<hr>
<div class="row">
    <div class="col-md-4">
        <img [src]="heroes.img" class="img-fluid">
        <br>
    </div>
    <div class="col-md-8">
        <h3>{{heroes.nombre}}</h3>
        <hr>
        <p>{{heroes.bio}}</p>
        <div>
            <img  *ngIf= "heroes.casa=='Marvel'" width="35px" heigth="15px" src="../../../assets/img/marvel.png" >
            <img  *ngIf= "heroes.casa=='DC'" width="35px" heigth="15px" src="../../../assets/img/dc.png" >
            
        </div>

    </div>

</div>